In [15]:
import csv
import pandas as pd
import os

In [16]:
data = pd.read_csv('NightIlluminationSP.csv', engine='python', sep = ',',encoding = 'utf-8-sig')

In [17]:
data

         VALUE  Longitude   Latitude      ID  CD_GEOCODM  NM_MUNICIP
0          1.0 -50.976014 -21.506328  1727.0   3500105.0  ADAMANTINA
1          1.0 -50.974916 -21.506328  1727.0   3500105.0  ADAMANTINA
2          1.0 -50.973817 -21.506328  1727.0   3500105.0  ADAMANTINA
3          1.0 -50.972718 -21.506328  1727.0   3500105.0  ADAMANTINA
4          1.0 -50.976014 -21.507427  1727.0   3500105.0  ADAMANTINA
...        ...        ...        ...     ...         ...         ...
1011749    1.0 -46.645201 -22.175202     NaN         NaN         NaN
1011750    1.0 -46.471617 -24.028635     NaN         NaN         NaN
1011751    1.0 -45.955259 -23.778112     NaN         NaN         NaN
1011752    1.0 -44.928037 -23.355075     NaN         NaN         NaN
1011753    1.0 -46.519957 -21.512703     NaN         NaN         NaN

[1011754 rows x 6 columns]

In [26]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011754 entries, 0 to 1011753
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   VALUE       1011754 non-null  float64
 1   Longitude   1011754 non-null  float64
 2   Latitude    1011754 non-null  float64
 3   ID          1011744 non-null  float64
 4   CD_GEOCODM  1011744 non-null  float64
 5   NM_MUNICIP  1011744 non-null  object
dtypes: float64(5), object(1)
memory usage: 46.3+ MB
None

In [27]:
df = data['NM_MUNICIP'].value_counts()
db = pd.DataFrame({'Município':df.index, 'Luminosidade':df.values})

In [28]:
db.to_csv('Luzpormunicipio.csv', encoding = 'utf-8-sig',index=False)

NoneType